{block content}
<link rel="stylesheet" href="{$basePath}/www/css/form.css">

<a n:href="default" class="btn btn-primary">Zpět</a>
<h1 class="text-3xl font-bold mb-5 text-[var(--color-text)] text-center">Změna hesla</h1>

{control changePasswordForm}

{/block content}