{block content}
<div class="container mt-4">
    <a n:href="default" class="btn btn-primary mb-3">Zpět</a>

    <div class="card shadow-sm">
        <div class="card-body">
            <h5 class="card-title">Změna hesla</h5>
            {control changePasswordForm}
        </div>
    </div>
</div>
{/block}
