{block content}
{block css}
<link rel="stylesheet" href="/www/css/dash.css">
{/block}

<div class="dashboard-container">
    <h1>Administrátorská nástěnka</h1>
    <div class="dashboard-menu">
        <div class="section-card">
            <h3>Obsah Domovské obrazovky</h3>
            <div class="button-group">
                <a href="{link Edit:banner}" class="btn btn-primary">Upravit banner</a>
                <a href="{link Edit:durability}" class="btn btn-primary">Upravit sekci Odolnost</a>
                <a href="{link Edit:customization}" class="btn btn-primary">Upravit sekci Přizpůsobení</a>
                <a href="{link Edit:gallery}" class="btn btn-primary">Upravit galerii</a>
                <a href="{link Edit:contact}" class="btn btn-primary">Upravit kontaktní informace</a>
                <a href="{link Edit:logos}" class="btn btn-primary">Upravit loga</a>
                <a href="{link Edit:legalPages}" class="btn btn-primary">Upravit právní stránky</a>
            </div>
        </div>
    </div>
</div>
{/block}