<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>
		{ifset title}
			{block title}{/block} | 
		{/ifset}
		3D Kryty
	</title>

	<link rel="stylesheet" href="{$basePath}/assets/style.css">
	<script src="{$basePath}/assets/main.js" defer></script>
</head>

<body>
	<header>
		<div class="container d-flex justify-content-between align-items-center">
			<h1><a href="{$basePath}/">3D Kryty</a></h1>
			<nav>
				<ul class="d-flex list-unstyled mb-0 align-items-center">
					<li><a n:href="Home:default" class="me-3">Domů</a></li>
					<li><a href="#" class="me-3">Produkty</a></li>
					<li><a href="#" class="me-3">O nás</a></li>
					<li><a href="#" class="me-3">Kontakt</a></li>

					{if $user->isLoggedIn()}
						<li class="me-3 text-muted">
							Přihlášen jako 
							{ifset $user->identity->username}
								<strong>{$user->identity->username}</strong>
							{else}
								<strong>(neznámý uživatel)</strong>
							{/ifset}
						</li>
						<li><a n:href="Sign:out">Odhlásit se</a></li>
					{else}
						<li><a n:href="Sign:in">Přihlášení</a></li>
					{/if}
				</ul>
			</nav>
		</div>
	</header>


	<main class="container">
		{foreach $flashes as $flash}
			<div n:class="flash, $flash->type">{$flash->message}</div>
		{/foreach}

		{include content}
	</main>

</body>
</html>
