{block content}
    <div class="text-center"> 
        <h1>Zapomenuté heslo</h1>
        <p>Zadejte svůj email a my vám pošleme ověřovací kód pro obnovu hesla.</p>
    </div>
    {control forgotPasswordForm}
    <div class="text-center">
        <a n:href="in" class="btn btn-outline-success">Zpět na přihlášení</a>
    </div>
{/block}
