{block content}

<h1 n:block=title class="text-center">Přihlášení</h1>

{control signInForm}
<div class="text-center">
        <a n:href="up" class="btn btn-outline-success">Nemáte účet? Zaregistrujte se</a>
</div>
