{block content}
    <h1 class="text-center">Obnova hesla</h1>
    <p class="text-center">Na email jsme vám zaslali ověřovací kód, který je platný 10 minut od odesální, nebo do zavření této stránky.</p>
    {control resetPasswordForm}
    <div class="text-center">
        <a n:href="forgotPassword" class="btn btn-outline-success">Email napřišel?</a>
    </div>
{/block}
