{block content}
<div class="text-center">
    <h1 n:block=title>Registrace</h1>
</div>

{control signUpForm}
<div class="text-center">
    <p class="fst-italic">*povinné údaje</p>
    <a n:href="in" class="btn btn-outline-success">Už máte účet? Přihlaste se.</a>
</div>