extensions:
	recaptcha: Contributte\ReCaptcha\DI\ReCaptchaExtension

parameters:

database:
    dsn: 'mysql:host=127.0.0.1;dbname=WEB2'
    user: root
    password: root

mail:
    smtp: true
    host: smtp.seznam.cz
    port: 465
    username: "opnx3d@seznam.cz"
    password: "SecretHeslo123"
    encryption: ssl

recaptcha:
	secretKey: 6LcfHI8rAAAAABWZVRCKeyuzWrvbEMKGebm0lc1o
	siteKey: 6LcfHI8rAAAAAEEh3EHh9i9c0MgLj4E2CGOgIVWK
