parameters:

database:
    dsn: 'mysql:host=127.0.0.1;dbname=WEB2'
    user: root
    password: root

mail:
    smtp: true
    host: smtp.seznam.cz
    port: 465
    username: "opnx3d@seznam.cz"
    password: "SecretHeslo123"
    encryption: ssl