parameters:

database:
    dsn: 'mysql:host=127.0.0.1;dbname=tycweb'
    user: root
    password: root

mail:
    smtp: true
    host: smtp.seznam.cz
    port: 465
    username: "email@seznam.cz"
    password: "heslo"
    encryption: ssl