{block content}
<h1 class="text-2xl font-semibold mb-4">Seznam uživatelů</h1>
<div>
    {control usersGrid}
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('.clickable-row').forEach(row => {
            row.addEventListener('click', () => {
                const href = row.dataset.href;
                if (href) {
                    window.location.href = href;
                }
            });
        });
    });
</script>
{/block}
