{block content}
<div class="container mt-4">
    <h2 class="mb-4">Správa Produktů</h2>
    <div class="row g-4">
        <div class="col-md-4">
            <a n:href="Product:colors" class="btn btn-primary btn-lg d-flex align-items-center justify-content-center w-100 p-4 shadow-sm">
                <i class="bi bi-palette me-2" style="font-size: 1.5rem;"></i> Spravovat Dostupné Barvy
            </a>
        </div>
        <div class="col-md-4">
            <a n:href="Product:features" class="btn btn-primary btn-lg d-flex align-items-center justify-content-center w-100 p-4 shadow-sm">
                <i class="bi bi-gear me-2" style="font-size: 1.5rem;"></i> Spravovat Funkce
            </a>
        </div>
        <div class="col-md-4">
            <a n:href="Product:models" class="btn btn-primary btn-lg d-flex align-items-center justify-content-center w-100 p-4 shadow-sm">
                <i class="bi bi-boxes me-2" style="font-size: 1.5rem;"></i> Spravovat Podporované Modely
            </a>
        </div>
    </div>
    <div class="row g-4 mt-2">
        <div class="col-md-4">
            <a n:href="Product:defaultImages" class="btn btn-primary btn-lg d-flex align-items-center justify-content-center w-100 p-4 shadow-sm">
                <i class="bi bi-image me-2" style="font-size: 1.5rem;"></i> Spravovat Defaultní Obrázky
            </a>
        </div>
    </div>
    <div class="mt-4 text-center">
        <a n:href="Dashboard:default" class="btn btn-secondary">Zpět na obsah webu</a>
    </div>
</div>


<!-- Include Bootstrap Icons for the icons -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
{/block}