<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nová registrace</title>
</head>
<body>
    <h1>Nová registrace uživatele {$username}</h1>
    <p>Do systému 3D kryty byl zaregistrován nový uživatel {$username}</p>
    <p>Email: {$email}</p>
</body>
</html>