<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrace na stránky opnx3d</title>
</head>
<body>
    <h1>Zdravím, {$username}!</h1>
    <p>Vaše registrace do opnx3d proběhla úspěšně.</p>    
</body>
</html>
