<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrace na stránky 3D kryty</title>
</head>
<body>
    <h1>Zdravím, {$username}!</h1>
    <p>Vaše registrace do 3D kryty proběhla úspěšně.</p>    
</body>
</html>
